In [1]:
#Agenda
#Replcae Values in Series

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s1= Series([10,20,40,50,20,10,50,40])
print(s1)

0    10
1    20
2    40
3    50
4    20
5    10
6    50
7    40
dtype: int64

In [4]:
s1.replace(10, np.nan)

0     NaN
1    20.0
2    40.0
3    50.0
4    20.0
5     NaN
6    50.0
7    40.0
dtype: float64

In [5]:
s1.replace([10,20,40], [100,200,400])

0    100
1    200
2    400
3     50
4    200
5    100
6     50
7    400
dtype: int64

In [6]:
s1

0    10
1    20
2    40
3    50
4    20
5    10
6    50
7    40
dtype: int64

In [7]:
s1.replace({10:100, 20: np.nan, 40: 400})

0    100.0
1      NaN
2    400.0
3     50.0
4      NaN
5    100.0
6     50.0
7    400.0
dtype: float64