In [1]:
#Agenda
#Drop values from Series
#Drop Rows from DataFrame
#Drop Columns from DataFrame

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#Drop values from Series
cars= Series(["BMW","Audi","Mercedes"], index= ['a','b','c'])
print(cars)

a         BMW
b        Audi
c    Mercedes
dtype: object

In [4]:
cars= cars.drop('a')
print(cars)

b        Audi
c    Mercedes
dtype: object

In [5]:
#Drop Rows from DataFrame
#Drop Columns from DataFrame
cars_df= DataFrame(np.random.randn(9).reshape(3,3), index= ["BMW","Audi","Mercedes"], columns= ['test1','test2','test3'])
print(cars_df)

             test1     test2     test3
BMW       1.274389  0.172187 -0.331831
Audi     -1.134630  0.375081  1.041748
Mercedes -1.311203 -0.422038 -0.274785

In [6]:
cars_df= cars_df.drop("BMW", axis=  0)
print(cars_df)

             test1     test2     test3
Audi     -1.134630  0.375081  1.041748
Mercedes -1.311203 -0.422038 -0.274785

In [7]:
cars_df= cars_df.drop('test1', axis= 1)
print(cars_df)

             test2     test3
Audi      0.375081  1.041748
Mercedes -0.422038 -0.274785