In [1]:
#Agenda
#Access single element of series
#Access multiple elements of series
#Using Numerical Indexes
#Conditional Indexes
#Accessing one or more column data from a DataFrame
#Boolean operation in DataFrame
#Using the DataFrame.loc[] attribute

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
series1= Series([100,200,300], index= ['a','b','c'])
print(series1)

a    100
b    200
c    300
dtype: int64

In [4]:
#Access single element of series
series1['a']

100

In [5]:
series1['b']

200

In [6]:
#Access multiple elements of series
series1[['a', 'c']]

a    100
c    300
dtype: int64

In [7]:
#Using Numerical Indexes
series1[2]

300

In [8]:
#Conditional Indexes
series1[series1 > 150]

b    200
c    300
dtype: int64

In [9]:
series1[series1== 200]

b    200
dtype: int64

In [10]:
#Accessing one or more column data from a DataFrame
df1= DataFrame(np.arange(9).reshape(3,3), index= ['car','bike','cycle'], columns= ['c1', 'c2','c3'])
print(df1)

       c1  c2  c3
car     0   1   2
bike    3   4   5
cycle   6   7   8

In [11]:
df1['c1']

car      0
bike     3
cycle    6
Name: c1, dtype: int32

In [12]:
df1[['c1', 'c2']]

       c1  c2
car     0   1
bike    3   4
cycle   6   7

In [13]:
#Boolean operation in DataFrame
df1 > 5

          c1     c2     c3
car    False  False  False
bike   False  False  False
cycle   True   True   True

In [14]:
#Using the DataFrame.loc[] attribute
df1.loc['car']

c1    0
c2    1
c3    2
Name: car, dtype: int32

In [15]:
df1.loc[:, 'c1']

car      0
bike     3
cycle    6
Name: c1, dtype: int32

In [16]:
df1.loc['bike', 'c1']

3