In [1]:
#Agenda
#Introduction to Excel file
#Import data from Excel file

In [2]:
#Python libraries to install for reading excel files
#xlrd
#openpyyxl

In [3]:
import pandas as pd
import xlrd
import openpyxl

In [4]:
excelfile= pd.ExcelFile('cab.xlsx')

In [5]:
df= excelfile.parse('cab_data')

In [6]:
df

  Company  Fleetsize  Revenue  Expenses  Profit
0    Uber       6000      100        80      20
1    Lyft      50000       90        50      40
2    Grab      40000       80        60      20
3   Gojek      30000       70        40      30
4     Ola      20000       60        55       5